Repository murar8/personal-server-aws: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

update packages
  package.json
Due: prettier --write

basic setup
  Pulumi.main.yaml
  index.ts
  lib/dns.ts
  lib/server.ts
  lib/vpc.ts
  tsconfig.json
Due: prettier --write, eslint --fix

setup with cloud-config
  .github/workflows/pipeline.yaml
  Pulumi.main.yaml
  cloud-init.yaml
  lib/dns.ts
  lib/server.ts
  package-lock.json
Due: prettier --write, eslint --fix

pass ssh key through pulumi
  Pulumi.main.yaml
  cloud-init.yaml
  lib/dns.ts
  lib/server.ts
Due: prettier --write, eslint --fix

fix resource management
  lib/dns.ts
  lib/server.ts
Due: prettier --write, eslint --fix

fix errors
  index.ts
Due: prettier --write, eslint --fix

fix user config
  cloud-init.yaml
Due: prettier --write

add correct permissions
  cloud-init.yaml
Due: prettier --write

allow outgoing internet
  lib/vpc.ts
Due: prettier --write, eslint --fix

mantain disk status
  .github/workflows/pipeline.yaml
  Pulumi.main.yaml
  lib/server.ts
  lib/vpc.ts
  package.json
  scripts/create-image.sh
  scripts/destroy-image.sh
Due: prettier --write, eslint --fix

improve style
  lib/dns.ts
Due: prettier --write, eslint --fix

fix actions env
  .github/workflows/pipeline.yaml
Due: prettier --write

improve pipeline
  .github/workflows/pipeline.yaml
Due: prettier --write

improve safety
  .github/workflows/pipeline.yaml
  Pulumi.main.yaml
  cloud-init.yaml
  lib/server.ts
  scripts/create-image.sh
  scripts/destroy-image.sh
Due: prettier --write, eslint --fix

fix pipeline
  lib/server.ts
  scripts/create-image.sh
  scripts/destroy-image.sh
Due: prettier --write, eslint --fix

improve pipeline
  scripts/create-image.sh
Due: none

Path conditions:
  prettier --write: any of: *.{js,ts,json,yaml,md}
  eslint --fix: any of: *.{js,ts}
